<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yww.distribution.dao.TestCodeOrderformMapper" >
  <resultMap id="BaseResultMap" type="com.yww.distribution.entity.CodeOrderform" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="endTIme" property="endtime" jdbcType="TIMESTAMP" />
    <result column="external_id" property="externalId" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, amount, endTIme, external_id, state
  </sql>
  
  <select id="selectAll" resultType="com.yww.distribution.entity.CodeOrderform" >
    select 
    <include refid="Base_Column_List" />
    from code_orderform
  </select>
</mapper>